/* General Page Styles */
.site-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

h1,
h2 {
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

/* Admins List */
.site-page ul {
  list-style-type: none;
  padding: 0;
}

.site-page li {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

/* Join Request Section */
.join-request {
  margin-top: 20px;
}

.custom-message-box {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.checkbox-message {
  margin-top: 15px;
  margin-left: 5px;
}

.checkbox-container {
  margin-top: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.join-request button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-request button:hover {
  background-color: #218838;
}

/* Messages */
.error {
  color: red;
  margin-top: 20px;
}

.success {
  color: green;
  margin-top: 20px;
}

/* Login Prompt */
.login-prompt {
  margin-top: 20px;
  text-align: center;
}

.login-prompt button {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
}

.login-prompt button:hover {
  background-color: #0056b3;
}

.toggle-artefact-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.toggle-artefact-title h2 {
  margin-right: 10px;
}

.arrow {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.arrow.closed {
  transform: rotate(0deg);
}

.add-artefact-section {
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.add-artefact-section label {
  width: 100%; /* Ensures labels and inputs stretch to full width */
  max-width: 400px; /* Optional: Restrict max width for a cleaner layout */
  display: flex;
  flex-direction: column; /* Makes label wrap input below it */
  text-align: left; /* Align text inside the label */
}

.add-artefact-section input,
.add-artefact-section textarea {
  width: 100%; /* Full width of the form */
  max-width: 400px; /* Match the max-width of labels */
  padding: 8px;
  margin-top: 5px; /* Space between label and input/textarea */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.add-artefact-form {
  background-color: #f9f9f9;
  box-shadow: none;
}

.make-public-checkbox {
  display: inline-flex; /* Align items horizontally */
  align-items: left; /* Vertically center the label with the checkbox */
  gap: 0.5rem; /* Add some spacing between the checkbox and the label */
}
